In [1]:
import streamlit as st
import numpy as np
import pandas as pd

In [10]:
df = pd.DataFrame(
    np.random.rand(100, 2)/[50,50] + [35.69, 139, 70],
    columns=['lat', 'lon']
)

ValueError: operands could not be broadcast together with shapes (100,2) (3,)

In [9]:
df

         lat       lon
0   0.005603  0.002621
1   0.014784  0.005134
2   0.001009  0.003497
3   0.007120  0.002345
4   0.013007  0.017746
..       ...       ...
95  0.011546  0.005376
96  0.016572  0.006636
97  0.005185  0.011133
98  0.018816  0.010429
99  0.008478  0.009811

[100 rows x 2 columns]